@{
    ViewBag.Title = "About";
}

<head>
    <style>
        .circle {
            background: #4cff00;
            border-radius: 100%;
            width: 400px;
            height: 400px;
            top: 0;
            position: center;
        }

        .eye {
            background: #ffffff;
            border-radius: 50%;
            height: 50%;
            margin: 96px;
            top: 0;
            border: 1px solid;
            top: 0;
        }

        .pupil {
            background: #0094ff;
            border-radius: 50%;
            width: 40%;
            height: 40%;
            margin: 61px;
            border: 1px solid;
            position: center;
        }

        .pupil2 {
            background: #000000;
            border-radius: 50%;
            width: 50%;
            height: 50%;
            margin: 20px;
            border: 1px solid;
            align-content: flex-end;
            transform: rotate(30seg);
        }

        .mouth {
            background: #000000;
            border-radius: 80%;
            width: 250px;
            height:130px;
            border: 1px solid;
            margin: 73px;
            right: -0.5%;
            top: -50px;
            position: relative;
        }

    </style>
</head>

<body>
    <div>
        <div class="circle">
            <div class="eye">
                <div class="pupil">
                    <div class="pupil2">
                    </div>
                </div>
            </div>

            <div class="mouth">
            </div>
        </div>        
    </div>
</body>